<%- include('head.ejs') %>
<body>

<header>
  <h1>50+ Meeting</h1>
  </header>
<div class='content'>

  <p>50+Meeting is een site waar je nieuwe mensen kunt ontmoeten op basis van activiteiten!</p>

<h2>Login</h2>
  <form action='/log-in' method='POST'>
    <label>Email
      <input type='text' name='email' required>
    </label>

    <label>Wachtwoord
      <input type='password' name='password' required>
    </label>
    <button type='submit'>login</button>
  </form>
</div>


<a href='/register'>Geen account? registreer!</a>


</body>
</html>
