<%- include('head.ejs') %>

<body>
   <header>
    <h1>Berichten</h1>
   </header>

    <div class='flex-container-messages'>

           <a href='bericht.html' class='flex-bericht'>
            <img src='images/kortpittig.jpg' class='berichtPic'>
            <h5 id='name'>Petra</h5>
            <p class='bericht'>Hallo !</p>
            </a>
</div>




<%- include('footer.ejs') %>

</body>
</html>
